<head>
    <link rel="stylesheet" href="style.css">
</head>

<body>

  {% include "./partials/_header.njk" %}

  {% include "./partials/_nav.njk" %}

  {% block content %}
    <h1 class="coop-u-brand">Welcome to the prototyping kit</h1>
  {% endblock %}

  {% include "./partials/_footer.njk" %}

  <script src="main.js"></script> 
</body>